.image_section {
  border: 1px solid violet;
  margin-bottom: 100vh;
  &:last-child {
    margin-bottom: 0;
  }
  .image {
    height: 300px;
    width: 250px;

    margin: 0 auto;
    img {
      object-fit: contain;
      height: 100%;
      width: 100%;
    }
  }
}

.animated {
  animation-name: bounce;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0) rotate(0);
    transform-origin: 50% 50%;
  }

  15% {
    transform: translateY(-30px) rotate(-6deg);
  }

  30% {
    transform: translateY(15px) rotate(6deg);
  }

  45% {
    transform: translateY(-15px) rotate(-3.6deg);
  }

  60% {
    transform: translateY(9px) rotate(2.4deg);
  }

  75% {
    transform: translateY(-6px) rotate(-1.2deg);
  }
}
