.post {
  margin-bottom: 100px;
  border: 1px solid violet;
}

.count_blocks {
  padding: 15px;
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  border: 1px solid red;
  background-color: #242424;
}
